.restaurants{
    background-color: #f6f6f6;
    padding: 58px 20px 64px;

    display: flex;
    flex-direction: column;
    gap: var(--gap-accueil__restaurants);

    &__titre{
        padding-bottom: calc(var(--padding-accueil__titre) - var(--gap-accueil__restaurants));
    }
}