.restaurants{
    background-color: darken($couleur-tres-claire, 3.5%);
    padding: 58px $padding-cotes 64px;

    display: flex;
    flex-direction: column;
    gap: var(--gap-accueil__restaurants);

    &__titre{
        width: 100%;
        padding-bottom: calc(var(--padding-accueil__titre) - var(--gap-accueil__restaurants));
    }
}