
@mixin texte-responsive($fs-min, $fs-max, $ecran-min, $ecran-max){
    font-size: taille-responsive($fs-min, $fs-max, $ecran-min, $ecran-max);
}

@mixin anim-delay($nb-child  , $delta-delay, $delay-offset: 0s){
    @for $i from 1 to ($nb-child + 1) {
        &:nth-child(#{$i}){
            animation-delay: calc(($i - 1) * $delta-delay + $delay-offset);
        }
    }
}

@mixin prepa-loader($nb-boule,$decalage-en-tour,$couleurs){
    @for $i from 1 to (nb-boule + 1) {
        &--boule#{$i}{
            transform: translateY(-50%) rotate(#{$decalage-en-tour * $i}turn);
            &::after{
                content: "";
                display: block;
                background-color: $couleurs[$i];// comment on code ça ?
                border-radius: 50%;
                aspect-ratio: 1/1;
                height: 100%;
                position: absolute;
                right: 0;
            }
        }
    }
}