
/* couleurs du site */
$couleur-primaire: #9356DC;
$couleur-secondaire: #FF79DA;
$couleur-tertiaire: #99E2D0;

/* polices */
$police-titre: 'Shrikhand', cursive;
$police-texte: 'Roboto', sans-serif;
