
/* couleurs du site */
$couleur-primaire: #9356DC;
$couleur-secondaire: #FF79DA;
$couleur-tertiaire: #99E2D0;

$couleur-tres-sombre: #000;
$couleur-sombre: #353535;
$couleur-tres-claire: #fff;

/* polices */
$police-titre: 'Shrikhand', cursive;
$police-texte: 'Roboto', sans-serif;
