
/* couleurs du site */
$couleur-primaire: #9356DC;
$couleur-secondaire: #FF79DA;
$couleur-tertiaire: #99E2D0;

$couleur-tres-sombre: #000;
$couleur-sombre: #353535;
$couleur-tres-claire: #fff;

$couleur-dernere-etape-liste:#f5edff;

/* polices */
$police-titre: 'Shrikhand', cursive;
$police-texte: 'Roboto', sans-serif;

/* dimmesions */
$padding-cotes: 20px;

$largeur-etape-liste: 323px;
$hauteur-etape-liste: 73px;
$gap-liste: 25px;
$largeur-numero-liste: 25px;

/* variables css */
:root{
    --largeur-btn: 218px;
    --hauteur-btn: 50px;
}