.page-accueil{
    &__titre{
        padding-bottom: $padding-accueil__titre;
        
        @media (min-width:$breakpoint){
            text-align: center;
            font-size: 200%;
        }
    }
}

@import "../layouts/accueil/lieu";
@import "../layouts/accueil/manuel";
@import "../layouts/accueil/restaurants";
