.page-restaurant{
    & > main{
        position: relative;
        max-width: 1000px;
        margin: 0 auto;

        &::before{
            content: "";
            display: block;
            width: 100%;
            aspect-ratio: 375 / 220;
        }
    }
    &__contenaire-image{
        position: absolute;
        top: 0;
        z-index: -1;

        width: 100%;
        aspect-ratio: 375 / 257;
        overflow: hidden;
    }
    &__image{
        width: 100%;
        object-fit: cover;
        &--la-note-enchantee{
            transform: translateY(-21%);
        }
        &--le-delice-des-sens{
            transform: scale(1.05);
        }
    }
    &__menu{
        background-color: $couleur-restaurant;
        border-top-left-radius: 32px;
        border-top-right-radius: 32px;

    }
}

@import "../layouts/restaurants/menu";
@import "../layouts/restaurants/partie-repas";