.page-restaurant{
    & > main{
        position: relative;
        max-width: 1000px;
        margin: 0 auto;

        &::before{
            content: "";
            display: block;
            width: 100%;
            aspect-ratio: 375 / 220;
        }
    }
    &__contenaire-image{
        position: absolute;
        top: 0;
        z-index: -1;

        width: 100%;
        aspect-ratio: 375 / 257;
        overflow: hidden;
    }
    &__image{
        width: 100%;
        object-fit: cover;
        &--la-note-enchantee{
            transform: translateY(-21%);
        }
    }
    &__menu{
        background-color: $couleur-restaurant;
        border-top-left-radius: 32px;
        border-top-right-radius: 32px;

    }
}

.menu{
    padding: 40px 14px 72px;
    &__titre-restaurant{
        padding: 0 2px 40px;
        position: relative;

    }
    &__nom-restaurant{
        display: inline-block;
        font-size: 32px;
        font-family: $police-titre;
        
        @media (min-width: $breakpoint){
            font-size: 200%;
        }
    }
    &__btn-j-aime{
        position: absolute;
        right: 26px;
        top: 10px;
    }
    @media (min-width: $breakpoint){
        top: 20px;
    }
}