
.btn-principal{
    width: var(--largeur-btn);
    height: var(--hauteur-btn);
    margin: 0 calc(50% - var(--largeur-btn)/2);
    border-radius: var(--hauteur-btn);
    
    text-align: center;
    vertical-align: middle;
    color: $couleur-tres-claire;
    font-weight: 600;
    font-size: 15px;

    background-image: linear-gradient(to bottom, $couleur-secondaire, $couleur-primaire);
}