
.btn-principal{
    width: $largeur-btn;
    height: $hauteur-btn;
    margin: 0 calc(50% - $largeur-btn/2); /* pour centrer */
    border-radius: $hauteur-btn;
    box-shadow: 0px 2px 5px #0004;
    transition: box-shadow 300ms ease-in-out;
    
    text-align: center;
    vertical-align: middle;
    color: $couleur-tres-claire;
    font-weight: 600;
    font-size: 15px;



    position: relative;
    z-index: 1;
    background-image: linear-gradient(to bottom, $couleur-secondaire, $couleur-primaire);
    overflow: hidden;
    &::after{
        content: "";
        @include pos-recouvre(absolute);
        background-image: linear-gradient(to bottom, lighten($couleur-secondaire,5%), lighten($couleur-primaire,5%));
        opacity: 0;
        z-index: -1;
        transition: opacity 300ms ease-in-out;
    }
    &:hover{
        box-shadow: 0px 6px 5px #0004;
        &::after{
            opacity: 1;
        }
    }
}