
.btn-principal{
    width: $largeur-btn;
    height: $hauteur-btn;
    margin: 0 calc(50% - $largeur-btn/2); /* pour centrer */
    border-radius: $hauteur-btn;
    
    text-align: center;
    vertical-align: middle;
    color: $couleur-tres-claire;
    font-weight: 600;
    font-size: 15px;

    background-image: linear-gradient(to bottom, $couleur-secondaire, $couleur-primaire);
    
    &:hover{
        background-image: linear-gradient(to bottom, lighten($couleur-secondaire,10%), lighten($couleur-primaire,10%));
    }
}