.btn-j-aime{
    //$fs-btn-j-aime: 50px;
    width: calc($fs-btn-j-aime + 5px);
    height: calc($fs-btn-j-aime + 5px);

    display: flex;
    justify-content: center;
    align-items: center;
    
    font-size: $fs-btn-j-aime;
    
    -webkit-text-stroke: 1px $couleur-tres-sombre;
    color: transparent;
    
    background-clip: text;
    -webkit-background-clip: text;

    background-image: linear-gradient(to bottom, transparent 50%,  $couleur-secondaire 1%, $couleur-secondaire, $couleur-primaire);
    background-size: 1% 200%;

    transition: background-position ease-out 0.4s,
                -webkit-text-stroke-color ease-in-out 0.4s;
    

    &:hover{
        -webkit-text-stroke-color: transparent;
        background-position: 0 100%;
    }
}