.footer{
    padding: 26px;

    background: $couleur-sombre;
    color: $couleur-tres-claire;

    font-size: 16px;

    &__contenaire{
        margin: 0 auto;
        @media (min-width:$breakpoint-2) {
            margin: 20px auto;
        }
    }

    &__titre{
        font-family: $police-titre;
        padding-bottom: 20px;

        font-size: 20px;
        font-weight: 100;
        letter-spacing:1px;
        @media (min-width:$breakpoint-2) {
            text-align: center;
            padding-bottom: 30px;
        }
    }

    &__liste{
        @media (min-width:$breakpoint-2) {
            display: flex;
            justify-content: center;
            gap:#{2*$gap-liste};
        }
    }

    &__contenaire-lien{
        margin-bottom: 10px;

    }

    &__icone-restaurant + &__option{
        margin-left: 16px;
    }

    &__icone-partenaire{
        font-size: 14px; /* compenser la différence de taille avec footer_icone-restaurant */
    }

    &__icone-partenaire + &__option{
        margin-left: 14px;
    }
}
