.footer{
    padding: 26px;

    background: $couleur-sombre;
    color: $couleur-tres-claire;

    font-size: 13px;

    &__titre{
        font-family: $police-titre;
        padding-bottom: 20px;

        font-size: 16px;
        font-weight: 100;
        letter-spacing:1px;
    }

    &__lien{
        display: block;
        margin-bottom: 10px;

    }

    &__icone-restaurant + &__option{
        margin-left: 12px;
    }

    &__icone-partenaire{
        font-size: 11px; /* compenser la différence de taille avec footer_icone-restaurant */
    }

    &__icone-partenaire + &__option{
        margin-left: 10px;
    }
    @media (min-width:$breakpoint){
        max-width: $breakpoint;
        margin: 0 auto;
        position: relative;
        &::before, &::after{
            content: "";
            position: absolute;
            display: block;
            width: calc(50vw - 50% + 5px);
            height: 100%;
            top: 0;
            background-color: inherit;
        }
        &::before{
            left: 0;
            transform: translateX(calc(-100% + 2px));
            // background-color: lightcoral;
        }
        &::after{
            right: 0;
            transform: translateX(calc(100% - 2px));
            // background-color: lightblue;
        }
    }
}
