body{
    background-color: $couleur-tres-claire;
    color: $couleur-tres-sombre;
    font-family: $police-texte;
}
.header__logo-titre{
    height: 64px;
    text-align: center;
    padding-top: 10px;
    font-family: $police-titre;

    background-color: lightblue;/* tmp */
}