
.header{
    position: relative;
    height: $hauteur-header;
    display: flex;
    justify-content: center;
    align-items: center;

    &__lien-retour{
        display: block;
        width: 25px;
        position: absolute;
        top: 50%;
        left: 1.25em;

        transform: translateY(-50%);

        font-size: 1.25em;
    }

    // &__logo-titre{
    //     text-align: center;
    //     padding: 10px 0;
    //     font-family: $police-titre;
    // }
    &__logo{
        height: 50%;
    }
    @media (min-width: $breakpoint){
        height: calc($hauteur-header * 1.25);
        font-size: 125%;
    }
}