.body-accueil{
    &--loading{ // tmp
        height: 100vh;
        overflow: hidden;
    }
}

.loader{
    &__fond{
        position: fixed;
        background: #fff;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 9000;
    }
    &__contenaire{
        @extend %pos-center;
        aspect-ratio: 1 / 1;
        width: 50vmin;
        // background-color: lightcoral; // tmp
        @extend %flex-center;
    }
}

.loader-spinner{
    aspect-ratio: 1 / 1;
    width: 80%;
    // background-color: lightgreen; // tmp
    transform: rotate(0turn);
    
    &__centre{
        @extend %pos-center;
    }
    
    &__aiguille{
        position: absolute;
        width: 25vmin;
        transform-origin: left;
        // background-color: lightblue; // tmp
        display: flex;
        justify-content: flex-end;
        align-items: center;

        @include prepare-phase-boule(map-get($map-loader, nb-boule),map-get($map-loader, decalage-boules));
    }
}
.loader-boule{
    // background-color: black; // tmp
    aspect-ratio: 1 / 1;
    width: 2vmin;
    border-radius: 50%;
    @include prepare-couleur-boule(map-get($map-loader, nb-boule),map-get($map-loader, couleurs-boules));
}