.carte{
    aspect-ratio: 335 / 251;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    border-radius: var(--radius-carte);
    overflow: hidden;

    position: relative;
    &__etiquette{
        position: absolute;
        right: var(--radius-carte);
        top: var(--radius-carte);
        
        background-color: $couleur-tertiaire;
        color: #008766;

        padding: 10px 13px;
        border-radius: 2px;
    }

    &__contenaire-image-restaurant{
        width: 100%;
        overflow: hidden;
    }
    &__image-restaurant{
        width: 100%;
        object-fit: cover;
    }


    &__description-restaurant{
        height: 77px;
        flex-shrink: 0;
        background-color: $couleur-tres-claire;

        padding: 20px 14px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: 13px;

        position: relative;
        & > .btn-j-aime{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 10%;
        }
    }
}